build/
gradle.properties
gradlew
gradlew.bat
local.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
CDZ.iml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/gradle.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/libraries/__local_aars___C__AndroidWorkPlace_CDZ_app_libs_AMap3DMap_5_3_0_AMapNavi_5_3_0_20170815_jar_unspecified_jar.xml
.idea/libraries/__local_aars___C__AndroidWorkPlace_CDZ_app_libs_Msc_jar_unspecified_jar.xml
.idea/libraries/__local_aars___C__AndroidWorkPlace_CDZ_app_libs_Sunflower_jar_unspecified_jar.xml
.idea/libraries/android_android_25.xml
.idea/libraries/android_arch_core_common_1_0_0_jar.xml
.idea/libraries/android_arch_lifecycle_common_1_0_0_jar.xml
.idea/libraries/android_arch_lifecycle_runtime_1_0_0.xml
.idea/libraries/com_alibaba_fastjson_1_2_38_jar.xml
.idea/libraries/com_android_support_animated_vector_drawable_25_3_1.xml
.idea/libraries/com_android_support_animated_vector_drawable_27_0_1.xml
.idea/libraries/com_android_support_appcompat_v7_25_3_1.xml
.idea/libraries/com_android_support_appcompat_v7_27_0_1.xml
.idea/libraries/com_android_support_constraint_constraint_layout_1_0_2.xml
.idea/libraries/com_android_support_constraint_constraint_layout_solver_1_0_2_jar.xml
.idea/libraries/com_android_support_recyclerview_v7_27_0_1.xml
.idea/libraries/com_android_support_support_annotations_25_3_1_jar.xml
.idea/libraries/com_android_support_support_annotations_27_0_1_jar.xml
.idea/libraries/com_android_support_support_compat_25_3_1.xml
.idea/libraries/com_android_support_support_compat_27_0_1.xml
.idea/libraries/com_android_support_support_core_ui_25_3_1.xml
.idea/libraries/com_android_support_support_core_ui_27_0_1.xml
.idea/libraries/com_android_support_support_core_utils_25_3_1.xml
.idea/libraries/com_android_support_support_core_utils_27_0_1.xml
.idea/libraries/com_android_support_support_fragment_25_3_1.xml
.idea/libraries/com_android_support_support_fragment_27_0_1.xml
.idea/libraries/com_android_support_support_media_compat_25_3_1.xml
.idea/libraries/com_android_support_support_media_compat_27_0_1.xml
.idea/libraries/com_android_support_support_v4_25_3_1.xml
.idea/libraries/com_android_support_support_v4_27_0_1.xml
.idea/libraries/com_android_support_support_vector_drawable_25_3_1.xml
.idea/libraries/com_android_support_support_vector_drawable_27_0_1.xml
.idea/libraries/com_android_support_test_espresso_espresso_core_2_2_2.xml
.idea/libraries/com_android_support_test_espresso_espresso_idling_resource_2_2_2.xml
.idea/libraries/com_android_support_test_exposed_instrumentation_api_publish_0_5.xml
.idea/libraries/com_android_support_test_rules_0_5.xml
.idea/libraries/com_android_support_test_runner_0_5.xml
.idea/libraries/com_github_bumptech_glide_annotations_4_3_1_jar.xml
.idea/libraries/com_github_bumptech_glide_disklrucache_4_3_1_jar.xml
.idea/libraries/com_github_bumptech_glide_gifdecoder_4_3_1_jar.xml
.idea/libraries/com_github_bumptech_glide_glide_4_3_1_jar.xml
.idea/libraries/com_google_code_findbugs_jsr305_2_0_1_jar.xml
.idea/libraries/com_squareup_javawriter_2_1_1_jar.xml
.idea/libraries/com_squareup_okhttp3_okhttp_3_9_0_jar.xml
.idea/libraries/com_squareup_okio_okio_1_13_0_jar.xml
.idea/libraries/javax_annotation_javax_annotation_api_1_2_jar.xml
.idea/libraries/javax_inject_javax_inject_1_jar.xml
.idea/libraries/junit_junit_4_12_jar.xml
.idea/libraries/org_hamcrest_hamcrest_core_1_3_jar.xml
.idea/libraries/org_hamcrest_hamcrest_integration_1_3_jar.xml
.idea/libraries/org_hamcrest_hamcrest_library_1_3_jar.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.gradle/4.1/fileChanges/last-build.bin
.gradle/4.1/fileContent/fileContent.lock
.gradle/4.1/fileHashes/fileHashes.bin
.gradle/4.1/fileHashes/fileHashes.lock
.gradle/4.1/fileHashes/resourceHashesCache.bin
.gradle/4.1/javaCompile/classAnalysis.bin
.gradle/4.1/javaCompile/jarAnalysis.bin
.gradle/4.1/javaCompile/javaCompile.lock
.gradle/4.1/javaCompile/taskHistory.bin
.gradle/4.1/javaCompile/taskJars.bin
.gradle/4.1/taskHistory/fileSnapshots.bin
.gradle/4.1/taskHistory/taskHistory.bin
.gradle/4.1/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
app/app.iml
ZXingLibrary/ZXingLibrary.iml
/.gradle/
/.idea/
/charge51/charge51.iml
storelibrary/storelibrary.iml
ZXingLibrary2/CDZ-ZXingLibrary2.iml
ZXingLibrary2/ZXingLibrary2.iml
